<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>Restaurant</h1>

      <p>
        <strong>Name:</strong>
        <%= @restaurant.name %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @restaurant.address %>
      </p>

      <p>
        <strong>Phone number:</strong>
        <%= @restaurant.phone_number %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @restaurant.category %>
      </p>

      <h1>Reviews</h1>

      <ul>
        <% @reviews.each do |review| %>
        <li> <%= review.content %>  | rating : <%= review.rating %> / 5</li>
        <% end %>
      </ul>

      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating, collection: Review::RATING %>
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      <% end %>

      <%= link_to 'Return to restaurants list', restaurants_path, class: 'btn btn-primary m-1' %>

    </div>
  </div>
</div>
